<h1>My blackmail</h1>
<%= button_to 'Upload your shame', new_blackmail_path, :class => 'btn btn-primary', :method => :get %>
<br>

<% current_user.blackmails.each do |bmail| %>
  <%= image_tag bmail.attachment.url(:standard).gsub(/s3[.]/, "s3-us-west-2.") %><br><br>
<% end %>

<br><br>

