.spacer10 {
	margin-top: 10px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;"
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

style="max-width: 330px; padding: 15px; margin: 0 auto;"